@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
header{
   position: sticky;
   top: 0;
   background: white;
}

.left img{
    width: 35px;
    height: 33px;
}
.container{
    padding: 0 10vw ;
    margin: auto;
}
nav ul li{
    list-style:none;
    padding: 0 12px;
}
