body {
    height: 100%;
    width: 100%;
}
header{
   
}

.left img{
    width: 35px;
    height: 33px;
}
.container{
    padding: 0 10vw ;
    margin: auto;
}
nav ul li{
    list-style:none;
    padding: 0 12px;
}
