.flex{
    display: flex;
    
}
.items-center {
    align-items: center;
}
.space-between{
    justify-content: space-around;
}
.justify-center{
justify-content: center;
}
.uppercase{
    text-transform: uppercase;
}
.semibold{
    font-weight: bolder;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}
.section1{
    background: rgb(232, 228, 228);
    height: 122vh;
}
